@import "reset";
@import "960";
@import "functions";

body {
	font-family:"Helvetica Neue", Helvetica, sans-serif;
	background:url("../images/ios-texture-light.png");
}

div.img_frame {
	img {
		max-width:100%;
	}	
}

section#top {
	position:relative;
	z-index:100;
	.box_shadow(#333);
	width:100%;
	background-image:url("../images/ios-texture.png") !important;
	header {
		padding:10px 0;
		h1 {
			color:#fff;
			font-size:42px;
			font-family:"Rokkitt";
			font-weight:normal;
		}
	}
}

section#page {
	position:relative;
	z-index:2;
	background:#FFF;
	padding:20px 0;
	
	div.profile-sidebar {
		div.profile-pic {
			margin-bottom:10px;
		}
		
		div.twitter-follow {
			h4 {
				color:#186487;
				font-size:18px;
				font-weight:normal;
				line-height:2;
			}
		}
	}
	
	div.mini-about {
		border-bottom:5px #EEE solid;
		padding-bottom:10px;
		margin-bottom:20px;
		font-weight:200;
		font-size:24px;
		line-height:1.8;
		
		span {
			&.age {
				color:#219C11;
				font-weight:500;
			}
			&.questions {
				color:#C80000;
				font-weight:500;
			}
		}
	}
	
	ul.sections {
		li {
			margin:0 10px;
			opacity:0.5;
			list-style:none;
			float:left;
			text-align:center;
			
			img {
				width:50px;
			}
			
			&.blog {
				
			}
			
			&.inspiration {
				
			}
			
			&.photography {
				
			}
			
			&.favorites {
				
			}
			
			&.tweets {
				
			}
			
			&.contact {
				
			}
			
			h4 {
				font-weight:400;
				font-size:16px;
				padding:10px;
			}
			
			&:hover {
				opacity:1;
			}
		}
	}
}